@font-face {
  font-family: "iconfont"; /* Project id 4543027 */
  src: url('iconfont.woff2?t=1715496453695') format('woff2'),
       url('iconfont.woff?t=1715496453695') format('woff'),
       url('iconfont.ttf?t=1715496453695') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app:before {
  content: "\e643";
}

.icon-youxiang:before {
  content: "\e604";
}

.icon-teambition:before {
  content: "\e6ca";
}

.icon-weixin:before {
  content: "\e600";
}

